
# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore config/secrets.json file
config/secrets.json

# Ignore .DS_Store files
.DS_Store

# Ignore gemmini directory and config file
gemmini/
gemmini-config.json

# Ignore types directory and config file
types/
types-config.json

# Ignore google directory
google/

# Ignore .bin and .google directories
.bin/
.google/